body {
    font-family: sans-serif;
    background-color: #c4e3f3;
}

h1, h2, h3, h4 {
    color: #000000;
}

h1, h2 {
    font-family: 'Georgia', serif; padding: 10px; margin: 10px;
}

h1 {
    border-bottom: 2px solid #000;
}

h2 {
    font-size: 1.2em;
}

p, dd, dt {
    color: #000000;
}

a {
    text-decoration: underline;
    color: darkblue;
    font-size: 1.75em;
}

a:hover {
    color: red;
}

.pane {
    position: absolute;
    border: 2px solid;
    border-radius: 25px;
    padding: 5px;
    margin: 0 5em 0 5em;
    border-color: #999999;
    background-color: lavender;
    width: 75%;
}

.header{
    left:50%;
    text-align: left;
}

.name {
    width:50%;
    display: inline-block;
    float: left;
}
.description {
    color: #EEEEEE;
}

.price {
    text-align: right;
    width:50%;
    float: right;
}

.editdeletepane{

}

.flash {
    background: #cee5F5;
}
