{% extends "Base.html" %}

{% block content %}

<h1>Create New Menu Item</h1>
<form class="container" action=" {{ url_for('newMenuItem', restaurant_id = restaurant_id) }}" method="post">
    <p>
        New Menu Item Name: <input type="text" size="30" name="name" required="True">
    </p>

    <p>New Menu Item Type:
        <span class="course form-inline" style="margin: 5px" >
                <label>Appetizer <input type="radio" name="course" value="Appetizer"></label>
                <label>Beverage <input type="radio" name="course" value="Beverage"></label>
                <label>Dessert <input type="radio" name="course" value="Dessert"></label>
                <label>Entree <input type="radio" name="course" value="Entree"></label>
        </span>
    </p>

    <p>
        New Menu Item Price: <input type="text" size="30" name="price" required="True">
    </p>
    <p>
        New Menu Item Description
    </p>
        <textarea name="description" rows="10" cols="30" required="required">New Item Description</textarea>
    <br>
        <input type="submit" value="Create">
    <a href="{{ url_for('showRestaurant', restaurant_id = restaurant_id)}}">Cancel</a>
</form>
{% endblock %}
