<html>
<head lang="en">
    <title>Edit Menu Item</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='bootstrap.min.css') }}">
</head>

    <body>

    <div class="container">
        <div class="header">
            <h1>  {{ restaurant.name }}  </h1>
            <h2> {{ editedItem.name }}</h2>
        </div>


        <div class="nameAndPrice">
            <form action="{{ url_for('editMenuItem', restaurant_id = restaurant.id, menu_id = editedItem.id) }}" method="post">
                <div>
                <span>
                    <p>Name:
                    <input type = 'text' size='30' name = 'name' required="required" placeholder = '{{ editedItem.name }}'>
                    <br>
                    </p>
                    </span>
                </div>
                <div>
                    <p>
                    <span>
                    Price: <input type = 'text' size='30' name = 'price' required="required" placeholder = '{{ editedItem.price }}'>
                        </p>
                    </span>

                </div>
                <div class="form-inline" style="margin: 5px">
                        <label>Course:</label><br>
                        <input type="radio" name="course" value="Appetizer">Appetizer
                        <input type="radio" name="course" value="Beverage">Beverage
                        <input type="radio" name="course" value="Dessert">Dessert
                        <input type="radio" name="course" value="Entree">Entree
                </div>
                <div>
                    <span>
                        <p>Description: <br>
                            <textarea rows="5" cols="30" name="description" required="required" placeholder="{{ editedItem.description }}"></textarea>
                    <!--Description: <input type="text" size='30' name = 'description' placeholder = '{{ editedItem.description }}'>-->
                        </p>
                    </span>
                </div>

                    <input type='submit' value='Edit'>
                    <a href="{{ url_for('showRestaurant', restaurant_id = restaurant.id)}}">Cancel</a>


            </form>
        </div>

    </div>
    </body>
</html>
